.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: #00AAAA /* Optional: Add background color */
}

h2 {
  font-size: x-large;
  color: #D1F2EB;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Century Gothic';
  color: #D1F2EB;
}

.typing-text {
  font-size: 24px;
  color: #D1F2EB;
  font-weight: bold;
}

#typed-text::after {
  content: "|";
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
