<section id="education" class="education-section scroll-animation">
  <h2>EDUCATION</h2>
  <div class="education-container">
    <div class="education-item">
      <h3>New Jersey Institute of Technology (NJIT)</h3>
      <p class="degree">Master’s in Computer Science</p>
      <p class="duration">Sept 2023 - May 2025</p>
      <p class="gpa">GPA: 3.25</p>
      <p class="location">Newark, NJ, USA</p>
    </div>

    <div class="education-item">
      <h3>Karunya Institute of Technology and Sciences</h3>
      <p class="degree">Bachelor’s in Computer Science</p>
      <p class="duration">Aug 2019 - Aug 2023</p>
      <p class="gpa">GPA: 7.3/10</p>
      <p class="location">Coimbatore, TN, India</p>
    </div>

    <div class="education-item">
      <h3>Narayana Educational Institutions</h3>
      <p class="degree">Associates in Mathematics and Sciences</p>
      <p class="duration">Sept 2017 - May 2019</p>
      <p class="gpa">Percentage: 95%</p>
      <p class="location">Vijayawada, AP, India</p>
    </div>
  </div>
</section>
