<section id="section" class="resume-container scroll-animation">
  <h1>RESUME</h1>

  <div class="resume-download">
    <a href="assets/Talari_Veera_Naga_Bhavani_Resume.pdf" download>Download Resume (PDF)</a>
    <a href="assets/Talari_Veera_Naga_Bhavani_CV.pdf" download>Download CV (PDF)</a>
  </div>

  <div class="resume-content">
    <div class="skills">
      <h3>Skills</h3>
      <ul>
        <li>Core Development Skills : Software Development Life Cycle.,System Performance Monitoring, Software Design & Analysis, Object Oriented Programming.</li>
        <li>Languages: Python, Java, Javascript, SQL,R, C#, JSON, HTML/CSS/XML, Linux/Unix Scripting.</li>
        <li>Developer Tools: Visual Studio Code, GitHub, Eclipse, R studio, Microsoft SQL Server,MongoDB, Powershell.</li>
        <li>Technologies/Frameworks: Git, Linux, Angular, FastAPI, ASP.NET, Bootstrap,React.js.</li>
        <li>Soft Skills: Problem-solving, Teamwork, Adaptability</li>
      </ul>
    </div>

    <div class="certifications">
      <h3>Certifications & Achievements</h3>
      <ul>
        <li>JavaScript and Data Strcutures Certification - FreeCodeCamp</li>
        <li>Cybersecurity Essentials – Cisco</li>
        <li>Introduction to Cybersecurity – Cisco</li>
        <li>Introduction to IoT – Cisco</li>
        <li>Introduction to Packet Tracer – Cisco</li>
        <li>Goldman Sachs - Software Engineering Job Simulation</li>
      </ul>
    </div>
  </div>
</section>
