.projects-container {
  padding: 80px 60px;
  background-color: #00AAAA;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.section-title {
  font-size: 36px;
  color: #D1F2EB;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}
.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.project-image img {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-card {
  background: #F3E6A0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  text-align: left;
}

  .project-card:hover {
    transform: translateY(-5px);
  }

  .project-card h3 {
    font-size: 22px;
    color: #00AAAA;
    margin-bottom: 10px;
  }

  .project-card p {
    margin: 0;
    font-size: 15px;
    color: #333;
  }

  .project-card h4 {
    font-size: 18px;
    color: #00AAAA;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .project-card ul {
    margin: 0;
    list-style: none;
  }

    .project-card ul li {
      list-style : circle;
      font-size: 15px;
      color: #333;
      margin-bottom: 5px;
    }
