body {
  font-family: 'Poppins', sans-serif;
  color: #D1F2EB;
}

.navbar-container {
  margin-top: 0;
}

.navbar {
  background-color: #00AAAA;
  padding: 10px 0;
  position: fixed;
  top: 0; /* This ensures the navbar stays at the top while scrolling */
  z-index: 1000; /* Ensures the navbar stays above other content */

  width:100%;
}

  .navbar .my-logo {
    padding-top: 10px;
    padding-left: 40px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #D1F2EB;
  }

    .navbar .my-logo .first-letter {
      background-color: #f3e6a0;
      font-size: 30px;
      color: #00AAAA;
      border-radius: 100%;
      padding: 10px;
    }

    .navbar .my-logo .rest-name {
      font-size: medium;
      font-weight: bold;
    }

  .navbar ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding-right: 100px;
  }

    .navbar ul li {
      margin: 0 15px;
    }

      .navbar ul li a {
        text-decoration: none;
        color: #D1F2EB;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
      }
